<div
  class="text-center"
  > <div
  class="bg-light"
  > <div
  class="p-4"
  > <button
  class="btn-close border btn btn-default btn-md mb-0 w-auto"
  type="button"
  data-dismiss="modal"
  > Cancel
  </button
  > <button
  class="btn-delete btn btn-md mb-0 ml-3 w-auto"
  type="submit"
  > Yes,
delete </button > </div > </div > </div > .bg-sidebar {
  background: #ffffff !important;
}
.text-p-card {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #5f5d5d;
}
.text-p-card-large {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 20px;
  color: #5f5d5d;
}
/* Styles for all screens */
.small-icon {
  display: none;
}

/* Styles for small screens only */
@media (max-width: 767px) {
  .small-icon {
    display: block;
  }
}
.menu:hover,
.menu.active {
  background-color: #fcf6e6;
}

.menu:hover object svg path,
.menu.active object svg path,
.menu:hover span,
.menu.active span {
  color: #e4a200 !important;
}
.topbar .dropdown-list .dropdown-header {
  background-color: #e4a200 !important;
  border: 1px solid #e4a200 !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
}
.section-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #5f5d5d;
}
.table-head {
  width: auto;
  height: auto;
  background: #eff2f6;
}
.th {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #5f5d5d;
}
.td {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #5f5d5d;
}
.percentage {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5f5d5d;
}
.form-control-range {
  accent-color: #e4a200;
}
.number-heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #797778;
}

.td-checkbox {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 2px;
  accent-color: #e4a200;
}
.th-invite {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #373435;
}
.td-invite {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #373435;
}
.form-label-d {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #5f5d5d;
}
.form-control-d {
  height: 48px !important;
  background: #ffffff;
  border: 1px solid #e2e8f0 !important;
  border-radius: 2px !important;
}
.form-textarea {
  border-radius: 2px !important;
}
.form-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #cbd5e1;
}
.checkbox-form {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 2px;
  accent-color: #e4a200;
  color: white !important;
}
.privacy-label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #373435;
}
.contribution {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 16px;
  color: #373435;
}
.pay-now-button {
  height: 56px;
  background: #e4a200 !important;
  border-radius: 2px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff !important;
}
.iti--allow-dropdown {
  width: 100% !important;
}
.modal-header {
  border-bottom: none !important;
}
/* .modal-footer {
  border-top: none !important;
} */
.card-details-p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #373435;
}
.card-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
}
.tab-box {
  padding: 24px 0px 24px 24px;
  height: 88px;
  background: #f9fbfc;
  border-radius: 2px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #e4a200 !important;
}
.ussd-tab-p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #373435;
}
.label-amount {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5f5d5d;
}
.value {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 16px;
  color: #5f5d5d;
}
.span-bold {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px;
  line-height: 16px;
  color: #373435;
}
.btn-add-new {
  background: #e4a200 !important;
  border-radius: 2px !important;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff !important;
  width: 180px !important;
}
.btn-close {
  width: 78px;
  height: 36px;
  background: #ffffff !important;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #797778 !important;
  border-radius: 2px !important;
}
.group-card-head {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #373435;
}
.span-group {
  color: #e4a200;
}
.group-card-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #373435;
}
.link-copy {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #e4a200;
}
.btn-delete {
  width: 104px;
  height: 36px;
  background: #f43f5e !important;
  border-radius: 2px !important;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff !important;
}
.delete-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #797778;
}
.delete-caption {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #5f5d5d;
}
.action-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #334155;
}
